In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("shopping_trends.csv", index_col="Customer ID")
data

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
Customer ID,,,,,,,,,,,,,,,,,,
1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,No,32,Venmo,Weekly
3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,No,No,24,Venmo,Quarterly
3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3900 entries, 1 to 3900
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       3900 non-null   int64
 1   Gender                    3900 non-null   object
 2   Item Purchased            3900 non-null   object
 3   Category                  3900 non-null   object
 4   Purchase Amount (USD)     3900 non-null   int64
 5   Location                  3900 non-null   object
 6   Size                      3900 non-null   object
 7   Color                     3900 non-null   object
 8   Season                    3900 non-null   object
 9   Review Rating             3900 non-null   float64
 10  Subscription Status       3900 non-null   object
 11  Payment Method            3900 non-null   object
 12  Shipping Type             3900 non-null   object
 13  Discount Applied          3900 non-null   object
 14  Promo Code Used           3900 non-null   object
 15  Previous Purchases        3900 non-null   int64
 16  Preferred Payment Method  3900 non-null   object
 17  Frequency of Purchases    3900 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 578.9+ KB

In [5]:
data.describe()

               Age  Purchase Amount (USD)  Review Rating  Previous Purchases
count  3900.000000            3900.000000    3900.000000         3900.000000
mean     44.068462              59.764359       3.749949           25.351538
std      15.207589              23.685392       0.716223           14.447125
min      18.000000              20.000000       2.500000            1.000000
25%      31.000000              39.000000       3.100000           13.000000
50%      44.000000              60.000000       3.700000           25.000000
75%      57.000000              81.000000       4.400000           38.000000
max      70.000000             100.000000       5.000000           50.000000

In [6]:
data.describe(include="object")

,Gender,Item Purchased,Category,Location,Size,Color,Season,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Preferred Payment Method,Frequency of Purchases
count,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900
unique,2,25,4,50,4,25,4,2,6,6,2,2,6,7
top,Male,Blouse,Clothing,Montana,M,Olive,Spring,No,Credit Card,Free Shipping,No,No,PayPal,Every 3 Months
freq,2652,171,1737,96,1755,177,999,2847,696,675,2223,2223,677,584

In [7]:
slovnik_pohlavi = {"Female": 0, "Male": 1}
# Convert 'Gender' column to string type to ensure consistency
data["Gender"] = data["Gender"].astype(str)
# Applying the mapping to the 'Gender' column
data["Gender"] = data["Gender"].apply(lambda x: slovnik_pohlavi.get(x, x))
data["Gender"]

Customer ID
1       1
2       1
3       1
4       1
5       1
       ..
3896    0
3897    0
3898    0
3899    0
3900    0
Name: Gender, Length: 3900, dtype: int64

In [8]:
slovnik_sub = {"No": 0, "Yes": 1}
data["Subscription Status"] = data["Subscription Status"].apply(lambda x: slovnik_sub[x])
data["Subscription Status"]

Customer ID
1       1
2       1
3       1
4       1
5       1
       ..
3896    0
3897    0
3898    0
3899    0
3900    0
Name: Subscription Status, Length: 3900, dtype: int64

In [9]:
slovnik_discount = {"No": 0, "Yes": 1}
data["Discount Applied"] = data["Discount Applied"].apply(lambda x: slovnik_discount[x])
data["Discount Applied"]

Customer ID
1       1
2       1
3       1
4       1
5       1
       ..
3896    0
3897    0
3898    0
3899    0
3900    0
Name: Discount Applied, Length: 3900, dtype: int64

In [10]:
slovnik_promo_code = {"No": 0, "Yes": 1}
data["Promo Code Used"] = data["Promo Code Used"].apply(lambda x: slovnik_promo_code[x])
data["Promo Code Used"]

Customer ID
1       1
2       1
3       1
4       1
5       1
       ..
3896    0
3897    0
3898    0
3899    0
3900    0
Name: Promo Code Used, Length: 3900, dtype: int64

In [11]:
data

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
Customer ID,,,,,,,,,,,,,,,,,,
1,55,1,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,1,Credit Card,Express,1,1,14,Venmo,Fortnightly
2,19,1,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,1,Bank Transfer,Express,1,1,2,Cash,Fortnightly
3,50,1,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,1,Cash,Free Shipping,1,1,23,Credit Card,Weekly
4,21,1,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,1,PayPal,Next Day Air,1,1,49,PayPal,Weekly
5,45,1,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,1,Cash,Free Shipping,1,1,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3896,40,0,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,0,Cash,2-Day Shipping,0,0,32,Venmo,Weekly
3897,52,0,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,0,PayPal,Store Pickup,0,0,41,Bank Transfer,Bi-Weekly
3898,46,0,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,0,Credit Card,Standard,0,0,24,Venmo,Quarterly
3899,44,0,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,0,PayPal,Express,0,0,24,Venmo,Weekly
3900,52,0,Handbag,Accessories,81,California,M,Beige,Spring,3.1,0,Bank Transfer,Store Pickup,0,0,33,Venmo,Quarterly